{% extends "base.html" %}

{% block content %}


<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2 style="color: azure;">PC Componentes</h2>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" style="color: azure;">Inicio</a></li>
                <li><a href="/crud/" style="color: azure;">CRUD</a></li>
                <li><a href="/accounts/logout" style="color: azure;">Salir</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Perfil</div>
                <div class="panel-body">

                    <div class="form-group clearfix">
                        <h2 style="color: brown; text-align: center;">Cuenta</h2>
                        <img src="{{cliente.avatar.url}}" class="img-responsive" width="200" height="200" />
                        <p>Usuario: {{usuario.username}}</p>
                        <p>Nombre: {{usuario.first_name}}</p>
                        <p>Apellido: {{usuario.last_name}}</p>
                        <p>Email: {{usuario.email}}</p>
                        <p>Direccion: {{cliente.direccion}}</p>
                        <form action="editarperfil"><input type="submit" value="Editar Perfil"></form>
                        <p>.</p>
                        <form action="eliminarcuenta"><input type="submit" value="Eliminar Cuenta"></form>
                    </div>

                </div>
            </div>
            <center>
                <p><img src="https://miro.medium.com/max/1000/1*Q_-C8pPhXFiOd_Mu5AIECA.gif"></p>
            </center>
        </div>
    </form>
</div>

{% endblock %}