{% extends "base.html" %}

{% block content %}

<header id="main-header">
		
    <a id="logo-header" href="/">
        <span class="site-name">PC Componentes</span>
        <span class="site-desc">Pagina DJANGO</span>
    </a> <!-- / #logo-header -->

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/hacerpedido/">Pedido</a></li>
            <li><a href="/cuenta/">Cuenta</a></li>
            <li><a href="/accounts/logout">Salir</a></li>
        </ul>
    </nav><!-- / nav -->

</header><!-- / #main-header -->
<br>
<div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">

                    <div class="form-group clearfix">
                        <h2 style="color: brown; text-align: center;">Editar Cuenta</h2>
                        <hr>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table>
                                {{ form.as_table }}
                                {{ form2.as_table }}
                            </table>
                            <hr>
                            <input type="submit" value="Guardar" class="btn btn-warning">
                            <input type="reset" value="Borrar todo"  class="btn btn-warning">
                            <a class="btn btn-warning" href="{%url 'cuenta'%}">Volver </a>
                            <hr>
                            <p style="color: green;"><b>{{ mensaje }}</b></p>
                        
                        </form>
                        <style>

                            .nav-boton{
                                color: rgb(0, 0, 0);
                                display: inline;
                            }

                            .imagenusuario{
                                border: 2px solid rgb(63, 63, 63);
                            }

                        </style>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
