{% extends "base.html" %}

{% block content %}

<style>

    .nav-boton{
        color: rgb(0, 0, 0);
        display: inline;
    }

    .imagenusuario{
        border: 2px solid rgb(63, 63, 63);
    }

    button{
    width: 20%;
    margin: 5px 0 25px;
    }

</style>

<header id="main-header">
		
    <a id="logo-header" href="/">
        <span class="site-name">PC Componentes</span>
        <span class="site-desc">Pagina DJANGO</span>
    </a> <!-- / #logo-header -->

    <nav>
        <ul>
            <li><a href="/" style="color: azure;">Inicio</a></li>
            <li><a href="/cuenta/" style="color: azure;">Cuenta</a></li>
            <li><a href="/accounts/logout" style="color: azure;">Salir</a></li>
        </ul>
    </nav><!-- / nav -->

</header><!-- / #main-header -->

<br>
<div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">

                    <div class="form-group clearfix">
                        <h2 style="color: brown; text-align: center;">Pedido</h2>
                        <hr>
                        <center>
                        <form method="POST" class="post-form">{% csrf_token %}
                            {{ form.as_p }}
                            <hr>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                        </form>
                        <br>
                        <a class="btn btn-primary" href="{%url 'verpedidos'%}">Ver Pedidos </a>
                        </center>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}