{% extends "base.html" %}

{% block content %}

<header id="main-header">
		
    <a id="logo-header" href="/">
        <span class="site-name">PC Componentes | Login Panel</span>
        <span class="site-desc">Pagina DJANGO</span>
    </a> <!-- / #logo-header -->

    <nav>
        <ul>
            <li><a href="/" style="color: azure;">Inicio</a></li>
            <li><a href="/hacerpedido/" style="color: azure;">Hacer Pedido</a></li>
            <li><a href="/cuenta/" style="color: azure;">Cuenta</a></li>
            <li><a href="/accounts/logout" style="color: azure;">Salir</a></li>
        </ul>
    </nav><!-- / nav -->

</header><!-- / #main-header -->

    <div class="container">
        <br>
        <p style="color: aliceblue;"><b>ERROR:</b> has ingresado una cantidad erronea o no hay suficiente stock de este producto</p>
        <br>
        <p style="color: aliceblue;"><b>Producto:</b> {{articulo.nombre}} <br><b>Stock:</b> {{articulo.stock}}</p>
        <br>
        <p style="color: aliceblue;"><a href="{% url 'hacerpedido' %}">Volver a hacer un pedido.</a></p>
    </div>
{% endblock %}