{% extends "base.html" %}

{% block content %}

<header id="main-header">
		
    <a id="logo-header" href="/">
        <span class="site-name">PC Componentes | Login Panel</span>
        <span class="site-desc">Pagina DJANGO</span>
    </a> <!-- / #logo-header -->

    <nav>
        <ul>
            <li><a href="/" style="color: azure;">Inicio</a></li>
            <li><a href="/hacerpedido/" style="color: azure;">Hacer Pedido</a></li>
            <li><a href="/cuenta/" style="color: azure;">Cuenta</a></li>
            <li><a href="/accounts/logout" style="color: azure;">Salir</a></li>
        </ul>
    </nav><!-- / nav -->

</header><!-- / #main-header -->

    <div class="container">
        <br>
        <p style="color: aliceblue;">El articulo <b>{{articulo.nombre}}</b> (cantidad: {{current.cantidad}}) a sido agregado a sus pedidos. Al finalizar confirme su compra por favor.</p>
        <br>
        <p style="color: aliceblue;"><a href="{% url 'hacerpedido' %}">Volver a hacer un pedido.</a></p>
        <br>
        <form action="boleta"><input type="submit" value="Crear boleta"></form>
        
    </div>
{% endblock %}