{% extends "base_register.html" %}
{% load static %}

{% block content %}

<div class="modal-content">
    <div class="col-12 user-img">
        <img src="{% static 'img/user.png' %}"/>
    </div>
    <form class="col-12" action="" method="POST">
        {% csrf_token %}
        <table style="color: aliceblue;"> 
            {{form.as_table}}
        </table>
        <hr>
        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Guardar </button>
    </form>
    {{ mensaje }}
</div>

{% endblock %}