{% extends "base.html" %}

{% block content %}

<header id="main-header">
		
    <a id="logo-header" href="/">
        <span class="site-name">PC Componentes</span>
        <span class="site-desc">Pagina DJANGO</span>
    </a> <!-- / #logo-header -->

    <nav>
        <ul>
            <li><a href="/" style="color: azure;">Inicio</a></li>
            <li><a href="/hacerpedido/" style="color: azure;">Hacer Pedido</a></li>
            <li><a href="/cuenta/" style="color: azure;">Cuenta</a></li>
            <li><a href="/accounts/logout" style="color: azure;">Salir</a></li>
        </ul>
    </nav><!-- / nav -->

</header><!-- / #main-header -->

    <div class="container">
        <table style="color: aliceblue;" class="egt">

            {% if articulo %}
            <p style="color: aliceblue;">El articulo <b>{{articulo.nombre}}</b> (cantidad: {{current.cantidad}}) a sido agregado a sus pedidos. Al finalizar confirme su compra por favor.</p>
            {% endif %}

            <tr>
                <th>ID del pedido&nbsp; </th>  
                <th>&nbsp;Articulo&nbsp; </th>   
                <th>&nbsp;Cantidad&nbsp; </th>  
                <th>&nbsp;Precio C/U&nbsp;</th>
                <br> 
                </tr> 
            {%for x in Pedidoall %}
                    <tr>
                        <td><center>{{x.id}}</center></td>
                        <td><center>{{x.articulo}}</center></td>
                        <td><center>{{x.cantidad}}</center> </td>
                        <td><center>
                    {%for y in art %}
                        {%if x.articulo_id == y.id %}
                        ${{y.precio}}
                        {%endif%}
                    {%endfor%}
                    </center>
                        </td>
                    </tr>
             {%endfor%}   
             
             
            
        </table>
        <br>
        <p style="color: aliceblue;"> Total : ${{total}}   </p>
            
            {% if not articulo %}
            <form action="" method="POST">{% csrf_token %}
            <p></p>
            <p style="color: aliceblue;"> <b>Eliminar Pedidos</b> </p> 
            <input type="text" placeholder="Ingresa aqui la id" name ="prd" id="prd">
                

            <input type="submit" value="Eliminar del carro"> 
            </form>
            <br>
            <p style="color: green;"><b>{{mensaje}}</b></p>
            {% endif %}
        <br>
        <p style="color: aliceblue;"><a href="{% url 'hacerpedido' %}">Volver a hacer un pedido.</a></p><br>
        {% if articulo %}
        <p style="color: aliceblue;"><a href="{% url 'verpedidos' %}">Eliminar Pedidos</a></p>
        {% endif %}
        <br>
        
    </div>
{% endblock %}