{% extends "registration/base.html" %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Restablecer Contraseña</div>
                    <div class="panel-body">
                        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                       
                        <div class="form-group clearfix">
                            <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span class="text-red"> </span>:</label>
                            <div class="col-md-6">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                            <input type="submit" value="Enviar" />
						</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}